.cart{
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-left: 10px;

    .cart-icon{
        width:  25px;
        height: 25px;
    }

    .item-count{
        position: absolute;
        bottom: 10px;
    }
}