.homepage{
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        // font-size: 2rem;
        font-weight: bold;
    }
}